/**
* Style Name: lixil Silver
  Web URI: http://www.lixil.co.jp/
  Author: lixil
  Author URI:  http://www.lixil.co.jp/
  Description:
  Version: 1.0.0
*/
/*@import url(custom.css);*/
@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
 {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[hidden] {
  display: none;
}

@media print {
  *,
  *::before,
  *::after,
  p::first-letter,
  div::first-letter,
  blockquote::first-letter,
  li::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:focus, a:hover {
  color: #333;
  text-decoration: none !important;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}
th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  resize: vertical;
}
input[type="search"] {
  -webkit-appearance: none;
}
output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}
h1, h2, h3, h4, h5, h6{
  margin-bottom: 0.5rem;
  line-height: 1.1;
  color: #333;
}
html,body {
  font-family: Meiryo;
  height: 100%;
  background-color: #f5f4f3 !important;
  font-weight: 400;
  font-size: 14px;
}
button.btn.btn-submit-send[disabled=disabled],
button.btn.btn-submit-send:disabled {
    cursor: not-allowed;
}
/* ====================
    main style
-----------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
    border: none;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    font-family: Meiryo;;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,  {
    display: block;
}

img{
    max-width: 100%;
}
/*-----------------------------------
*   content wrapper
*   container-lixil Silver
-------------------------------------*/
#wrapper_silver {
  max-width: 100%;
  margin: 0px auto;
  text-align:left;
  position: relative;
  height: auto !important;
  min-height: 100%;
}
header#header_top {
    background: #ffffff;
    height: 99px;
}

.header_sv {
    max-width: 1025px;
    margin: 0px auto;
    padding: 30px 0px;
}

.logo_sv {
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.title_sv {
    max-width: 500px;
    font-family: Meiryo;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.44;
    text-align: left;
    color: #4b4949;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: -4px;
    left: 10px;
}
.container-silver:before,
.container-silver:after,
.con-group-sv:after,
.con-group-sv:before,
.form-sv:after,
.form-sv:before,
.form-group_sv:after,
.form-group_sv:before,
.row-sv:after,
.row-sv:before,
.row-box-bar:before,
.row-box-bar:after,
.tb-responsive:before,
.tb-responsive:after{
    display: table;
    content: " ";
    clear: both;
}
.form-sv{
    width: 100%;
    clear: both;
}
.form-horizontal_sv{
    background: #ffffff;
}
.row-sv{
    margin-left: -18px;
    margin-right: -18px;
}
.col-sv-1,.col-sv-2,.col-sv-3,
.col-sv-4,.col-sv-5,.col-sv-6,
.col-sv-7,.col-sv-8,.col-sv-9,
.col-sv-10,.col-sv-11,.col-sv-12{
    position: relative;
    min-height: 1px;
    padding-right: 18px;
    padding-left: 18px;
    float: left;
}
.main-vs-12{
    position: relative;
    min-height: 1px;
    padding-right: 23px;
    padding-left: 23px;
    float: left;
}
.col-sv-12,.main-vs-12{
    width: 100%;
}
.col-sv-11 {
    width: 91.66666667%;
}
.col-sv-10 {
    width: 83.33333333%;
}
.col-sv-9 {
    width: 75%;
}
.col-sv-8 {
    width: 66.66666667%;
}
.col-sv-7 {
    width: 58.33333333%;
}
.col-sv-6 {
    width: 50%;
}
.col-sv-5 {
    width: 41.66666667%;
}
.col-sv-4 {
    width: 33.33333333%;
}
.col-sv-3 {
    width: 25%;
}
.col-sv-2 {
    width: 16.66666667%;
}
.col-sv-1 {
    width: 8.33333333%;
}
.con-group-sv{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#container-login {
    max-width: 512px;
    margin: 0px auto;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.modal-header_sv {
    padding: 30px;
    border-bottom: 1px solid #dededf;
    height: 80px;
}
.modal-header_sv h3{
    font-family: Meiryo;
    font-size: 26px;
    text-align: left;
    color: #4b4949;
    font-weight: 500;

}
.modal-header_sv h4{
    font-family: Meiryo;
    font-size: 20px;
    text-align: left;
    color: #4b4949;
}
.form-horizontal_sv .form-group_sv{
    margin-right: -18px;
    margin-left: -18px;
}
.form-group_sv{
    margin-bottom: 16px;
}
.form-horizontal_sv .control-label_sv {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    position: relative;
    margin-top: 10px;
}
.form-control_sv{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 6px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    max-width: 300px;
}
.ime-disabled {
    ime-mode: disabled;
}
.ime-active {
    ime-mode: active;
}
.ime-inactive {
    ime-mode: inactive;
}
.has-error .box-error,
.input-error{
   background-color: #feefe6 !important;
   border: solid 1px #e75400 !important;
}
.error_sv {
    font-family: Meiryo;
    font-size: 16px;
    line-height: 1.44;
    text-align: left;
    color: rgba(230, 84, 0, 0.94);
    padding-top: 5px;
    padding-bottom: 3px;
    position: relative;
    vertical-align: top !important;
}
.error_sv span{
    margin-left: 23px;
    font-weight: 500;
}
.error_sv span a{
  color: #0671b8;
  text-decoration: underline;
}
.error_sv:before{
    content:'';
    background: url(../images/error.png) no-repeat center center;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 0px;
}
/**
* Custom Style
*/
.sv_center{
    text-align: center;
}
.sv_left{
  text-align: left;
}
.sv_left p{
  font-family: Meiryo;
  font-size: 14px;
  line-height: 1.43;
  color: #4b4949;
  white-space: pre-line;
}
.sv_right{
    text-align: right;
}
.sv_top5{
    margin-top: 5px;
}
.sv_top20{
    margin-top: 0;
    margin-bottom: 0;
}
.sv_top30 {
    margin-top: 16px;
}
.sv_top45 {
    margin-top: 16px;
}
.sv_top50 {
    margin-top: 50px;
}
.sv_top60 {
    margin-top: 60px;
}
.sv_bot30 {
    margin-bottom: 30px;
}
/**
* End Custom Style
*/
.btn.btn-sv {
    width: 320px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 2px #e75400;
    text-align: center;
    font-family: Meiryo;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.28;
    color: #e75400;
    cursor: pointer;
}
.btn.btn-sv:hover{
    border: solid 2px #f79208;
    color: #f79208;
}
.sv_forgetten a:hover{
    color: #01b5bb;
    text-decoration: underline !important;
}
.btn.btn-black {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #9ea0a2;
    font-family: Meiryo;
    font-size: 14px;
    line-height: 1.64;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    padding: 5px 0px;
}
.btn.btn-black:hover {
    background-color: #ffffff;
    color: #333;
    border: 2px solid #54585a;
    padding: 3px 0px;
}
.sv_forgetten{padding-top: 15px;float: right;}
.sv_forgetten a{
    font-family: Meiryo;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    color: #048084;
    position: relative;
    top: 9px;
    display: block;
    width: 160px;
    text-decoration: underline;
}
.sv_forgetten a:before{
    content: '';
    background: url(../images/arrow-right.png) no-repeat 0px 0px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 4px;
}
/**
* Checkbox
*/
.main-checkbox {
    margin-bottom: 7px;
}
.sv-checkbox {
  display: none;
}
.sv-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.sv-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #fff;
  border:2px solid #808384;
  border-radius: 4px;
}
.sv-checkbox:hover + label:before {
  background: #f5f4f3;
}
.sv-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.sv-checkbox:checked + label:before {
  background: #808384;
}
.sv-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.sv-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.sv-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/**
* Re-Login
*/
.role_login {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: rgba(84, 88, 90, 0.94);
    position: relative;
    top: 7px;
    margin-bottom: 2px;
}
/*
* Reset Password
*/
.error_title {
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #4b4949;
}
.con-model {
    margin-top: 80px;
}
.error_info {
    margin-top: 1px;
    margin-bottom: 11px;
}
.contact-sv {
    background-color: #ffffff;
    border: solid 1px #0071b6;
}

.contact-title {
    background-color: #4a9ccb;
}

.contact-title h5 {
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: #feffff;
    padding: 8px 14px;
}

.box-sv-12 {
    padding: 6px;
}

.box-sv-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #0671b8;
    padding-top: 6px;
    padding-bottom: 7px;
}
span.phone_num {
    font-size: 26px;
    line-height: 0.77;
    text-align: left;
    color: #4b4949;
}
.number-sv {
    padding: 0px 6px;
}
.number_cot {
    border-top: 1px solid #d5d6d7;
    padding: 16px 0px;
}
.mail-sv {
    padding: 0px 6px;
}
.mail_cot {
    border-top: 1px solid #d5d6d7;
    padding: 16px 0px;
}
span.icon.icon-contact {
    margin-left: 1px;
    position: relative;
    vertical-align: middle;
    top: -2px;
    margin-right: 5px;
}
.number_des {
    padding-bottom: 3px;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
    color: #4b4949;
}
.mail_des {
    padding-bottom: 3px;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
    color: #4b4949;
}
span.icon img {display: block;}
/**
* Top page
*/
.box-header {
    max-width: 1070px;
    margin: 0px auto;
    padding-left: 18px;
    padding-right: 18px;
}
.logo-top{
    padding: 30px 5px;
}
.col-nav-right {
    float: right;
    padding: 15px 0px;
}
ul.col-nav-top li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    padding-right: 8px;
    padding-top: 2px;
}
ul.col-nav-top li.nav_left{
    padding-right: 16px;
}
ul.col-nav-top {
    margin-bottom: 7px;
}
ul.col-nav-bt {
    text-align: right;
}
ul.col-nav-bt li{
    display: inline-block;
    font-size: 14px;
    line-height: 1.64;
    color: #4b4949;
    margin-right: 5px;
    margin-top: 2px;
}
ul.col-nav-bt li a{
    width: 140px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 2px #7e8183;
    display: block;
    padding: 4px 0px;
    text-align: left;
}
ul.col-nav-bt li a:hover{
    border: solid 2px #e75400;
    color: #e75400;
}
ul.col-nav-bt li.logout_sv a{
    background: #7e8183;
    color: #ffffff;
}
ul.col-nav-bt li.logout_sv a:hover{
    background-color: #e75400;
    color: #ffffff;
}
span.icon.icon_user,span.icon.icon_logout {
    width: 14px;
    height: 14px;
    text-align: center;
    margin: 0px 11px;
    position: relative;
    top: -2px;
}
li.logout_sv .icon {
    margin-right: 18px;
}
/**
* Main Menu
*/
.navbarCollapse_sv:before,
.navbarCollapse_sv:after,
.navbar-nav_sv:before,
.navbar-nav_sv:after{
    content: '';
    display: table;
    clear: both;
}
.navbar-header_sv {
  display: none;
}
.main-menu_sv .navbar-default_sv {
    border-radius: 0px;
    margin-bottom: 15px;
}
.navbar-default_sv {
    background-color: #f8f8f8;
}
.navbar_sv {
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
}
.main-menu_sv .navbar-default_sv .navbar-collapse_sv{
    max-width: 1070px;
    margin: 0px auto;
}
.navbar-default .navbar-collapse_sv{
    border-color: #e7e7e7;
}
.navbar-collapse_sv {
    padding-right: 18px;
    padding-left: 18px;
    overflow-x: visible;
}
.navbar-nav_sv {
    margin: 0px auto;
}
.nav_sv{
    padding-left: 5px;
    margin-bottom: 0;
    list-style: none;
    padding-right: 5px;
}
.main-menu_sv .navbar-nav>li:first-child {
    border-left: 1px solid #b1b1b1;
}
.main-menu_sv .navbar-nav>li {
    border-right: 1px solid #b1b1b1;
    margin: 5px 0px;
}
.main-menu_sv .navbar-nav_sv>li {
    float: left;
    width: 25%;
    max-width: 255px;
    margin-top: -3px;
    transform: translate(0px,3px);
}
.main-menu_sv .navbar-nav_sv>li.active_sv{
    border-bottom: 3px solid #e75400;
    position: relative;
}
.main-menu_sv .navbar-nav_sv>li:before{
    content: '';
    background: #ccc;
    width: 1px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 20px;
}
.main-menu_sv .navbar-nav_sv>li:last-child:after{
    content: '';
    background: #ccc;
    width: 1px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 20px;
}
.nav_sv>li {
    position: relative;
    display: block;
}
.main-menu_sv .navbar-default_sv .navbar-nav_sv>li>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.44;
    text-align: center;
    color: #333;
}
.main-menu_sv .navbar-default_sv .navbar-nav_sv>li>a:hover{
    color: #e75400;
}
.main-menu_sv .navbar-nav_sv>li>a {
    padding: 17px 10px;
}
.nav_sv>li>a {
    position: relative;
    display: block;
}
.main-menu_sv .navbar-default_sv .navbar-nav_sv>li.active_sv>a{
    color: #e75400;
}
/*
* button taggle
*/
.navbar-header_sv .navbar-toggle{
  float: none;
  position: relative;
}
.navbar-toggle {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-header_sv .navbar-toggle,
.navbar-header_sv .navbar-default_sv .navbar-toggle:focus,
.navbar-header_sv .navbar-default_sv .navbar-toggle:hover {
  background-color: #000;
  border-radius: 0px;
  border: 3px solid #fff;
  height: 40px;
  width: 40px;
  margin-right: 0px;
  display: block;
  cursor: pointer;
}
.navbar-header_sv .icon-button {
    cursor: pointer;
}
.navbar-header_sv .icon-button:before {
  webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  top: 8px;
  right: 7px;
  display: block;
  height: 3px;
  width: 20px;
  background: #fff;
  content: '';
}
.navbar-header_sv .icon-button:after {
  position: absolute;
  top: 15px;
  right: 7px;
  display: block;
  height: 10px;
  width: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  content: '';
}
.navbar-header_sv .icon-button-up:after{
  position: absolute;
  display: block;
  content: '';
  border-top: 2px solid #fff;
  position: absolute;
  display: block;
  content: '';
  border-bottom: 2px solid #fff;
}
.navbar-header_sv .icon-button-up:before {
  content: '';
  background: #fff;
  position: absolute;
  top: 15px;
  width: 20px;
  display: block;
  height: 3px;
  left: 6px;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.navbar-header_sv .icon-button-up:after {
  webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  top: 15px;
  border: 0px;
  height: 3px;
  width: 20px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 8px;
}
.canvas-size .canvas-lixil-menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 27, 27, 0.63);
  z-index: 100;
}
.main-menu_sv .menu-title {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: -7px;
}
/**--------------
* end Main menu
----------------*/
/**
* Container Main
*/
.container-silver{
    max-width: 1070px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    margin: 0px auto;
}
.box-title_sv {
    margin-top: 8px;
    margin-bottom: 8px;
}
.box-title_sv h1 {
    font-size: 26px;
    line-height: 0.88;
    text-align: left;
    color: #4b4949;
    font-weight: 500;
    padding-top: 9px;
    border-bottom: 1px solid #7f8283;
    padding-bottom: 17px;
}
/**
* Progress bar
*/
ul.row-box-bar {
    margin-top: 18px;
    margin-bottom: 10px;
}
.col-sv-12.box-progress-12 {
    padding-left: 12px;
    padding-right: 12px;
}
ul.row-box-bar li.box-sv-3 {
    float: left;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
ul.row-box-bar li.box-sv-4{
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
ul.row-box-bar li.box-sv-5{
    float: left;
    width: 33.33333333%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
ul.row-box-bar li.box-sv-6{
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
ul.row-box-bar li.box-sv-7-left{
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 32px;
    position: relative;
}
ul.row-box-bar li.box-sv-7-right{
    float: left;
    width: 50%;
    padding-left: 32px;
    padding-right: 10px;
    position: relative;
}
ul.row-box-bar li .box-progress-bar {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border: solid 1px #f5f4f3;
    align-items: center;
    text-align: left;
    display: -webkit-box;      /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* Firefox 19 */
    display: -ms-flexbox;      /* IE 10 */
    display: -webkit-flex;     /* Chrome */
    display: flex;             /* Opera 12.1, Firefox 20+ */
    position: relative;
    padding: 26px 0px;
}
ul.row-box-bar li.box-sv-3 .box-progress-bar{
    max-width: 187px;
}
ul.row-box-bar li.box-sv-4 .box-progress-bar{
    max-width: 240px;
}
ul.row-box-bar li.box-sv-5 .box-progress-bar,
ul.row-box-bar li.box-sv-6 .box-progress-bar{
    max-width: 100%;
}
ul.row-box-bar li:after{
    content: '';
    background: url(../images/arrow-progress.png) no-repeat 0px 0px;
    width: 17px;
    height: 15px;
    position: absolute;
    right: -7px;
    top: 34px;
}
ul.row-box-bar li:last-child:after{
    content: '';
    background: transparent;
}
ul.row-box-bar li.active_sv .box-progress-bar{
    border: solid 1px #e75400;
}
ul.row-box-bar a.box-progress-bar:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.box-num-bar {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background-color: #aaacad;
    text-align: center;
    font-size: 16px;
    line-height: 1.44;
    color: #ffffff;
}
ul.row-box-bar li.active_sv .box-num-bar,
ul.row-box-bar li.box-sv-3 a.box-progress-bar .box-num-bar{
    background-color: #e75400;
}
.box-text-bar {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    padding: 0px 10px;
}
ul.row-box-bar li.active_sv .box-text-bar,
ul.row-box-bar li.box-sv-3 a.box-progress-bar .box-text-bar{
   color: #e75400;
}
/**
* Form Control
*/
.box-main-form{
    background-color: #fff;
    margin-bottom: 16px;
    margin-top: 16px;
}
.modal-header_sv h5 {
    font-size: 20px;
    line-height: 1.15;
    text-align: left;
    color: #4b4949;
    font-weight: 500;
}
.tb-form_sv {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.tr-form_sv {
    display: table-row;
}
.td-form_sv-4 {
    display: table-cell;
    width: 40%;
    vertical-align: top;
    border-bottom: 1px dotted #dededf;
    max-width: 322px;
}
.td-form_sv-8 {
    display: table-cell;
    width: 80%;
    vertical-align: top;
    border-bottom: 1px dotted #dededf;
    max-width: 642px;
}
.tb-fonm-none{
    border-bottom: none !important;
}
.con-info_sv {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
}
.td-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    display: inline-block;
    vertical-align: middle;
}
span.error_label {
    display: inline-block;
    width: 75px;
    height: 25px;
    background-color: #e75400;
    border: solid 1px #e65400;
    float: right;
    font-size: 12px;
    line-height: 1.92;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
.col-ft-left {
    padding-top: 23px;
    padding-right: 20px;
    padding-bottom: 8px;
}
.col-ft-right {
    padding-top: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
}
.col-td-2 {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    position: relative;
}
.col-td-10 {
    display: inline-block;
    width: 215px;
    vertical-align: middle;
    position: relative;
}
.col-td-12{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;
}
.label-info {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #0671b8;
    padding: 6px 0px;
}
.des-info span {
    margin-right: 6px;
}
.label-info-12 {width: 100%;}
.des-info {
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #4b4949;
    padding: 5px 0px;
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
}
.col-td-5 {
    display: inline-block;
    vertical-align: middle;
}
.col-td-7 {
    display: inline-block;
    padding-left: 3px;
    padding-right:3px;
    vertical-align: middle;
}
.col-td-8 {
    width: 70%;
    display: inline-block;
    max-width: 300px;
    position: relative;
    vertical-align: middle;
    margin-bottom: 20px;
}
input:-moz-read-only { /* For Firefox */
    background-color: #EEEEEE;
}

input:read-only {
    background-color: #EEEEEE;
}
input.btn-control_sv {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: #7e8183;
    border: none;
    font-size: 14px;
    line-height: 1.64;
    text-align: center;
    color: #ffffff;
    display: block;
    cursor: pointer;
}
input.btn-control_sv:hover{
    background-color: #e75400;
}
a.searchNumber {
    width: 57px;
    height: 17px;
    font-family: Meiryo;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    text-align: left;
    color: #048084;
    border-bottom: 2px solid #ccc;
}
/**
* Custom Radio
*/
.group_radio {
    margin: 7px 0px;
}
.group_radio [type="radio"]:checked,
.group_radio [type="radio"]:not(:checked) {
    display: none;
}
.group_radio [type="radio"]:checked + label,
.group_radio [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    color: #4b4949;
    font-size: 14px;
}
.group_radio [type="radio"]:checked + label:before,
.group_radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.group_radio [type="radio"]:checked + label:before{
   background: #666;
}
.group_radio [type="radio"]:checked + label:after,
.group_radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.group_radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.group_radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*------ Radio like checked-----*/
.group_rd_chk {
    margin: 7px 0px;
}
.group_rd_chk [type="checkbox"]:checked,
.group_rd_chk [type="checkbox"]:not(:checked) {
    display: none;
}
.group_rd_chk [type="checkbox"]:checked + label,
.group_rd_chk [type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    color: #4b4949;
    font-size: 14px;
}
.group_rd_chk [type="checkbox"]:checked + label:before,
.group_rd_chk [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #ddd;
    border-radius:0px;
    background: #fff;
}
.group_rd_chk [type="checkbox"]:checked + label:before{
   background: #666;
}
.group_rd_chk [type="checkbox"]:checked + label:after,
.group_rd_chk [type="checkbox"]:not(:checked) + label:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    transition: all .2s;
}
.group_rd_chk [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.group_rd_chk [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*
* End custom Radio
*/
.btn-submit {
    float: right;
}
.btn.btn-submit-send,
button.btn.btn-submit-send {
    width: 320px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 2px #7f8283;
    display: block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.28;
    text-align: left;
    color: rgba(84, 88, 90, 0.75);
    position: relative;
}
span.arrow-text {
    padding: 12px 15px;
    display: inline-block;
    vertical-align: middle;
}
span.arrow-send {
    display: inline-block;
    vertical-align: middle;
    background: #7f8283;
    position: absolute;
    height: 48px;
    right: -2px;
    border-radius: 0px 25px 25px 0px;
    top: -1px;
    width: 44px;
    padding: 15px 12px;
}
button.btn.btn-submit-send:hover,.btn.btn-submit-send:hover{
    border: solid 2px #e75400;
}
button.btn.btn-submit-send:hover span.arrow-text,.btn.btn-submit-send:hover span.arrow-text{
    color: #e75400;
}
button.btn.btn-submit-send:hover span.arrow-send{
    background: #e75400;
}
button.btn.btn-submit-send span.arrow-send img{
    transform: translateX(0px);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}
button.btn.btn-submit-send:hover span.arrow-send img{
  transform: translateX(5px);
}
/**
* 4.2 Control Form
*/
.span-text-12 {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    padding: 8px 0px;
}
.box-sv-item {
    padding: 12px 0px;
}
.col-td-4{
    display: inline-block;
    width: 30%;
    max-width: 180px;
    position: relative;
    vertical-align: middle;
    margin-bottom: 20px;
}
.col-td-6 {
    display: inline-block;
    width: 45%;
    max-width: 180px;
    position: relative;
    vertical-align: middle;
    margin-bottom: 13px;
}
span.text-td-2 {
    font-size: 14px;
    line-height: 1.64;
    color: #4b4949;
    margin: 0px 4px;
}
.col-td-4 span.text-td-2{
    right: 3px;
}
.col-top10{
    margin: 10px 0px;
}
.btn-calendar {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    background-color: #7e8183;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
    padding: 5px;
}
.btn-calendar:hover{
    background-color: #e75400;
}
span.icon-calendar {
    position: absolute;
    left: 10px;
    top: 4px;
}
span.calendar-text {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #ffffff;
}
.col-td-1 {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
    min-height: 30px;
}
.col-tds-1 {
    display: inline-block;
    vertical-align: middle;
    min-height: 38px;
}
.modal-header_sv h5 span {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    margin-left: 14px;
}
/**
* Custom upload File
*/
.button-file-upload {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 9px 0px 13px 0px;
}
.button-file-upload::after {
  clear: both;
  content: "";
  display: table;
}
.button-file-upload input[type="file"] {
  left: 0px;
  position: absolute;
  display: none;
}
.button-file-upload .fake-upload-button,
.button-file-upload .fake-upload-button-no-hover {
  float: left;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 180px;
  height: 30px;
  border-radius: 15px;
  background-color: #7e8183;
  display: block;
  padding: 5px 0px;
}
.button-file-upload .fake-upload-button:hover{
  background-color: #e75400;
}
.button-file-upload .button-upload-file {
  float: left;
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: #4b4949;
  padding: 0px 8px;
}
.button-upload-file {
  display: inline-block;
  vertical-align: middle;
}
span.arrow-send_lf {
    display: inline-block;
    vertical-align: middle;
    background: #7f8283;
    position: absolute;
    height: 48px;
    left: -2px;
    border-radius: 25px 0px 0px 25px;
    top: -1px;
    width: 44px;
    padding: 15px 12px;
}

span.arrow-text_lf {
    display: inline-block;
    vertical-align: middle;
    padding-left: 47px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn.btn-submit-send:hover span.arrow-send_lf{
    background: #e75400;
}
.btn.btn-submit-send:hover span.arrow-text_lf{
    color: #e75400;
}
.btn.btn-submit-send .arrow-send_lf img{
    transform: translateX(5px);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.btn.btn-submit-send:hover .arrow-send_lf img{
    transform: translateX(-2px);
}
.col-fts-left {
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.col-fts-right {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}
.col-td-3 {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}
.box-checkbox {
    margin-bottom: 8px;
    max-width: 200px;
}
span.span-text {
    display: inline-block;
    padding: 10px;
}
.contern_register:before,
.contern_register:after{
    content: '';
    display: table;
    clear: both;
}
/**
* 4.5 Custom table
*/
.contern_register {
    height: 89px;
    background-color: #ffffff;
    margin-bottom: 30px;
    align-items: center;
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
}
.follow_des {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.44;
    text-align: left;
    color: #4b4949;
    padding: 0px 12px;
}
.col-print-5 {
    float: right;
    margin: 0px 10px;
}
.btn-print {
    width: 240px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #54585a;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.64;
    color: #4b4949;
}
.btn-print:hover{
    border: 1px solid #e75400;
    color:#e75400;
}
.btn-print span.icon-print img{
    transform: translateX(-1px);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.btn-print:hover span.icon-print img{
    transform: translateX(3px);
}
.col-print-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
input.btn-print_view {
    background: #3476ca;
    padding: 10px 25px;
    height: 35px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
}

input.btn-print_view.close {
    background: #f52626;
}
span.icon-print {
    position: absolute;
    left: 10px;
    top: 6px;
}
.tb-responsive {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.col-result,.col-label{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.64;
    text-align: left;
    color: #4b4949;
    padding: 26px 0px;
}
.col-result{
    font-weight: 500;
}
th.labelCol {
    width: 23.3333%;
    max-width: 225px;
    border-bottom: 1px dotted #dededf;
    vertical-align: top;
}
td.col-data {
    width: 70%;
    max-width: 716px;
    border-bottom: 1px dotted #dededf;
    vertical-align: top;
}

table.detailList {
    width: 100%;
    max-width: 100%;
}
.read-info {
    float: right;
    padding-top: 40px;
    padding-bottom: 12px;
}
.cus-info{text-align: center;margin: 1px 5px;display: block;}
a.btn-info {
    width: 240px;
    height: 30px;
    position: relative;
    opacity: 0.75;
    border-radius: 15px;
    background-color: #7e8183;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    display: block;
    padding: 4px;
}
a.btn-info:hover{
    background-color: #e75400;
}
a.btn-info span.pencil-info img {
    transform: translateY(1px);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}
a.btn-info:hover span.pencil-info img {
    transform: translateY(-3px);
}
span.pencil-info {
    position: absolute;
    left: 12px;
    top: 6px;
}
.get-image {
    margin-top: 7px;
}
.get-image p {
    padding: 5px 0px;
}
.btn-center {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}
input.btn-confirm,
.btn-confirm {
    width: 320px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 2px #e75400;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.28;
    color: #e75400;
    cursor: pointer;
    padding: 12px 50px;
}
input.btn-confirm:hover,
.btn-confirm:hover{
    border: solid 2px #f79208;
    color: #f79208;
}
input[disabled].btn-confirm{
    cursor: not-allowed;
    border: solid 2px rgba(84, 88, 90, 0.25);
    color: rgba(84, 88, 90, 0.5);
}
input[disabled].btn-confirm:hover{
    border: solid 2px rgba(84, 88, 90, 0.20);
    color: rgba(84, 88, 90, 0.5);
}
/**
*  Style received
*/
.col-received-title {
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #4b4949;
    font-weight: 700;
    margin-top: 31px;
    margin-bottom: 23px;
}

.col-received-des {
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #4b4949;
    margin-bottom: 6px;
}

.col-received-des p {
    white-space: pre-line;
    line-height: 22px;
    color: #4b4949;
    text-align: left;
}
.number_cot_sv {
    border-top: 1px solid #d5d6d7;
    padding-top: 18px;
    padding-bottom: 4px;
}

span.phone_num_sv {
    font-size: 26px;
    line-height: 0.77;
    text-align: left;
    color: #4b4949;
}

span.number_des_sv {
    margin: 0px 24px;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
    color: #4b4949;
}
.btn-center-received {
    text-align: center;
    margin-top: 60px;
}
.btn-confirm_status {
    width: 240px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px rgba(84, 88, 90, 0.75);
    font-size: 14px;
    line-height: 1.64;
    color: #4b4949;
    margin-top: 18px;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
}
.btn-confirm_status:hover{
    border: solid 1px rgb(231, 84, 0);
    color: #e75400;
}
.col-rs-title h1 {
    font-size: 26px;
    line-height: 0.88;
    text-align: left;
    color: #4b4949;
    font-weight: 500;
    padding-top: 8px;
    border-bottom: 1px solid #7f8283;
    padding-bottom: 18px;
}
.col-rs-title {
    margin-top: 20px;
    margin-bottom: 30px;
}
.col-rs-title::before,
.col-rs-title::after{
  content: "";
  display: table;
  clear: both;
}
.box-data-12 {
    padding: 34px 30px 30px 30px;
}
.tb-responsive_rs{
    display: block;
    width: 100%;
    margin: 0px auto;
}
.tb-responsive_rs .Col-data-2 {
    border: solid 1px rgba(84, 88, 90, 0.25);
    background-color: #efefef;
    width: 14.6666%;
    max-width: 140px;
    padding: 16px 20px;
}
.tb-responsive_rs .col-data-4 {
    border: solid 1px rgba(84, 88, 90, 0.25);
    width: 35.4444%;
    max-width: 341px;
    padding: 16px 20px;
}
.tb-responsive_rs .color-blue{
    background-color: #0671b8;
}
.col-label-rs {
    font-weight: bold;
    text-align: left;
    color: #4b4949;
    font-size: 14px;
}
.color-blue .col-label-rs {
    color: #fff;
}
.col-data_rs {
    text-align: left;
    color: #4b4949;
    font-size: 14px;
}
.col-data_rs a {
    width: 80px;
    background-color: #ffffff;
    border: solid 1px #0671b8;
    display: block;
    text-align: center;
    color: #0671b8;
}
.col-data_rs a:hover{
    border: solid 1px #e75400;
    color: #e75400;
}
.modal-header_rs {
    padding: 27px 12px;
    border-bottom: 1px solid #dededf;
    height: 77px;
}
.modal-header_rs h5{
    font-size: 20px;
    line-height: 1.15;
    text-align: left;
    font-weight: 500;
    color: #4b4949;
}
.col-print-5_rs {
    float: right;
    margin-top: -5px;
}
a.btn-info_rs {
    font-size: 14px;
    line-height: 1.64;
    text-align: center;
    color: #4b4949;
    width: 240px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px rgba(84, 88, 90, 0.75);
    display: inline-block;
    padding: 4px 0px;
}
a.btn-info_rs:hover{
    border: solid 1px #e75400;
    color: #e75400;
}
.read-info_s {
    float: right;
    margin-top: 48px;
    padding-bottom: 9px;
}
.col-show-info {
    margin-top: -2px;
    margin-bottom: 28px;
}
.col-show-info p {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: rgba(84, 88, 90, 0.94);
}
.col-toggle-12 .td-form_sv-2{
    display: table-cell;
    width: 12%;
    vertical-align: top;
    border-bottom: 1px dotted #dededf;
    max-width: 220px;
}
.col-toggle-12 .td-form_sv-10{
    display: table-cell;
    width: 41%;
    vertical-align: top;
    border-bottom: 1px dotted #dededf;
    max-width: 745px;
}
a.btn-cicle {
    width: 27px;
    height: 27px;
    border-radius: 13.5px;
    background-color: #7e8183;
    display: block;
    position: relative;
}
.btn-toggle {
    float: right;
    margin-top: -3px;
}
span.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    top: 12px;
    left: 9px;
}
.col-item-1 {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    text-align: center;
}
.col-item-2 {
    display: inline-block;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
}
.col-item-3 {
    display: inline-block;
    vertical-align: middle;
    width: 13%;
    max-width: 110px;
}
.col-toggle-12 {
    padding-bottom: 4px;
}
/**
* 7.1 Page infor
*/
.con-info-detail {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: rgba(84, 88, 90, 0.94);
    margin-top: 20px;
    position: relative;
    top: 5px;
}
.btn-center-customer {
    margin-top: 40px;
}
.checkbox-18{
    padding-bottom: 18px;
}
span.color-pick {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.64;
    text-align: left;
    color: #048084;
    text-decoration: underline;
}
/*------Add New style-----*/
span.col-result-note {
    font-size: 14px;
    line-height: 1.64;
    color: #e75400;
    padding-left: 40px;
}
.btn-confirm-small {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: #7c7f80;
    border: none;
    font-size: 14px;
    line-height: 1.64;
    text-align: center;
    color: #ffffff;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}
.btn-confirm-small:hover{
    background-color: #e75400;
    color: #fff;
}
.con-info-detail p{
    white-space: pre-line;
}
ul.link-back li {
    display: block;
}
ul.link-back li a {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.44;
    text-align: left;
    color: #048084;
    padding: 8px 0px;
    display: block;
    position: relative;
    text-decoration: underline;
}

ul.link-back li a:before {
    content: '';
    background: url('../images/arrow-right.png') no-repeat;
    width: 13px;
    height: 12px;
    position: relative;
    display: inline-block;
    top: 0px;
    margin-right: 7px;
}
.row-20{
    margin-left: -20px;
    margin-right: -20px;
}
input.btn-confirm-return,
a.btn-confirm-return {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    background-color: #7c7f80;
    border: none;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.64;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
}
a.btn-confirm-return:hover{
  background-color: #e75400;
}
.box-main-form input::placeholder {
  color: #818181;
}
.box-main-form input::-webkit-input-placeholder {
  color: #818181;
}
.box-main-form input:-ms-input-placeholder {
  color: #818181;
}
.box-main-form input:-moz-placeholder {
  color: #818181;
}
.box-main-form textarea::placeholder {
  color: #818181;
}
.box-main-form textarea::-webkit-input-placeholder {
  color: #818181;
}
.box-main-form textarea:-ms-input-placeholder {
  color: #818181;
}
.box-main-form textarea:-moz-placeholder {
  color: #818181;
}
/*------End New style-----*/
/*-------------------------
*    Home page
*-------------------------*/
.col-sv-12 .box-top {

width: 100%;

height: 108px;

background-color: #ffffff !important;

margin-bottom: 16px;
}
.col-sv-12.pdd61 {
    padding-top: 16px;
}
.top_text_left{
    width: 580px;
    font-family: Meiryo;
    font-size: 16px;
    font-weight: bold;
    line-height: 114px;
    text-align: left;
    color: #4b4949;
    padding-left: 35px;
    display: inline;
}
.col-sv-8.width580 {
    max-width: 673px;
}
.col-sv-4.width320{
    max-width: 320px;
}
.box_text_right{
    max-width: 320px;
}
.top_text_right{
    width: 320px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 2px #e75400;
    margin-top: 33px;
    margin-left: 5px;
}
a:hover .top_text_right {
    border: solid 2px #f79208;
}
a:hover .top_text_right .text_inner{
    color: #f79208;
}
.padding0{
    padding-right: 0;
    padding-left: 0;
}
.text_inner {
    width: 100%;
    height: 100%;
    font-family: Meiryo;
    font-size: 18px;
    font-weight: bold;
    line-height: 47px;
    text-align: center;
    color: #e75400;
    margin: 0 auto;
}
#box_list{
    height: 100%;
    background-color: #ffffff !important;
    padding-bottom: 20px;
}
.header_list_box{
    height: 77px;
}
.text-mid-box {
    padding-left: 34px;
    font-family: Meiryo;
    font-size: 20px;
    line-height: 83px;
    text-align: left;
    color: #4b4949;
}
.text-mid-box_right {
    font-family: Meiryo;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: right;
    color: #4b4949;
    padding-top: 25px;
    padding-right: 35px;
}
.hr{
    width: 100%;
    height: 1px;
    opacity: 0.25;
    background-color: #54585a;
    margin-bottom: 29px;
}
.tbl_list{
    width: 965px;
    height: 100%;
    padding-top: 20px;
}
/* block table  */
#box_list table, #box_list td, #box_list th {
    /*border: 1px solid #ddd;*/

}

#box_list table {
    border-collapse: collapse;
    border: solid 1px rgba(84, 88, 90, 0.25);
    margin: 0px 0px;
    width: 100%;
}

#box_list th.head_col1.tbl3-1, #tbl_list>table>tbody>tr.row.tbl3-1>td {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
#tbl_list>table>tbody>tr.row.tbl3-1>td.center{
    padding-left: 5px;
    padding-right: 5px;
}
#tbl_list>table>tbody>tr>th.head_col1.tbl3-1,
#tbl_list>table>tbody>tr>th.head_col1.tbl3-1,
#tbl_list>table>tbody>tr>th.head_col1.tbl3-1{
    width: 110px;
    text-align: center;
    padding: 16px;
}

th.head_col5 {
    width: 366px;
    text-align: center;
}
th.head_col4 {
    width: 107px;
    text-align: center;
}

tr.row {
    height: 58px;
}
#tbl_list>table>tbody>tr.row.tbl3-1 {
    height: auto;
}
.btn_intbl>span {
    font-family: Meiryo;
    font-size: 14px;
    color: #0671b8;
    text-align: center;
    width: 100%;
}

th.head_col6 {
    width: 99px;
}
.btn_intbl{
    width: 80px;
    background-color: #ffffff;
    border: solid 1px #0671b8;
    text-align: center;
    display: block;
}
.center{
    text-align: center !important;
}
#tbl_list {
  margin-bottom: 29px;
  padding-left: 35px;
  padding-right: 35px;
}
.btn_footer{
  width: 239px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  border: solid 1px rgba(84, 88, 90, 0.75);
  float: right;
  margin-bottom: 32px;
}
a:hover .btn_footer{
  border: solid 1px #e75400;
}
a:hover .btn_footer .lbl_radius{
  color: #e75400;
}
.footer_tbl {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
}
.lbl_radius {
    width: 100%;
    height: 14px;
    font-family: Meiryo;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #4b4949;
}
.act_footer{
    margin-top: 39px;
}
.act_wrapper{
    max-width: 100%;
    background-color: #ffffff;
    border: solid 3px rgba(164, 63, 120, 0.2);
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}

#act_footer {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 16px;
}
.act_head_inner {
    max-width: 100%;
    height: 74px;
    background-color: #f8f0f4;
}
ul.col-msg-12 {
    padding-left: 30px;
    padding-right: 30px;
}
ul.col-msg-12 li{
  border-bottom: 2px dotted #d7d2cb;
}
ul.col-msg-12 li:last-child{
  border-bottom: none;
}
ul.col-msg-12 li p{
  line-height: 24px;
  font-size: 14px;
}
.act_head_inner>span{
    width: 79px;
    height: 19px;
    font-family: Meiryo;
    font-size: 20px;
    line-height: 1.15;
    text-align: left;
    color: #4b4949;
}
.h2 {
    width: auto;
    height: 19px;
    font-family: Meiryo;
    font-size: 20px;
    line-height: 74px;
    text-align: left;
    color: #4b4949;
    margin-left: 27px;
}
.sub_title{
    width: auto;
    height: 15px;
    font-family: Meiryo;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: #4b4949;
    padding-top: 28px;
    margin-bottom: 30px;
}
.block_act {
    margin-left: 28px;
}
.block_act_sec {
    margin-left: 28px;
    /*padding-top: 26px;*/
}
.txt {
    text-align: left;
    padding-bottom: 26px;
    margin-top: 10px;
}
.txt_sec {
    margin-left: 29px;
    text-align: left;
}
.col_orang{
    color:#e75400;
}
th.head_col4.tbl3-1 {
    width: 164px;
    text-align: center;
}
th.head_col5.tbl3-1 {
    width: 372px;
    text-align: center;
}
/*=========================
    style 5-1
=============================== */
.main-menu_sv.mrg_bottom {
    margin-bottom: 63px;
}
#box_list.box_list5_1{
    margin-bottom: 32px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 8px;
}
.width_5_1{
    width: 1024px;
}
#top_content_5-1{
    width: auto;
    background-color: #ffffff;
    border: solid 1px rgba(84, 88, 90, 0.25);
    margin-bottom: 59px;
    margin-left: 35px;
    margin-right: 35px;
    clear: both;
}
.box_list5_1{
    padding-top: 32px;
}
.pdding_btt39{
    padding-bottom: 23px;
}
.radius_btn{
  width: 240px;
  height: 30px;
  border-radius: 15px;
  background-color: #7e8183;
  text-align: center;
  cursor: pointer;
}
button:hover .radius_btn{
    background-color: #e75400;
}
a:hover .radius_btn{
    background-color: #e75400;
}
.radius_btn>span{
    width: 126px;
    font-family: Meiryo;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0px;
 }
.just_content{
    display: block;
    padding: 28px 10px;
    text-align: right;
    vertical-align: middle;
 }
 div#top_content {
    background-color: #fff;
    border: 1px solid #d4d5d5;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
}
.col-group-3 {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}
.col-group-9 {
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.title_gradio{
    background-color: #f0f0f0;
    display: block;
    max-height: 100%;
    min-height: 100%;
    padding: 21% 0px;
    text-align: center;
 }
.title_gradio>span{
    width: 64px;
    height: 15px;
    font-family: Meiryo;
    font-size: 16px;
    /*font-style: italic;*/
    line-height: 1.44;
    text-align: left;
    color: #4b4949;
}
.float_left{
    float: left;
}
.dis_inlineblock{
    display: inline-block;
}
.group_radio.float_left.mgr30 {
    margin-top: 18px;
    margin-left: 17px;
    margin-right: 12px;
}
.group_radio.float_left.mgrl20 {
    margin-left: 17px;
    margin-top: 0;
}
.lbl-5-1 {
    width: 247px;
    height: 12px;
    font-family: Meiryo;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
    color: #4b4949;
}
.box_count{
    display: inline-block;
    width: 220px;
    height: auto;
    background-color: #ffffff;
    border: solid 1px rgba(84, 88, 90, 0.25);
    margin-right: 8px;
}
.defualt_w_5-1{
    width: 100%;
    margin-left: 35px;
    margin-right: 35px;
}
#tbl_list.mrgl28 table {
    margin: 0px 0px;
    width: 100%;
}
.head_col1.h5-1-1{
    width: 90px;
}
.head_col2.h5-1-2 {
    width: 80px;
}
th.head_col3.h5-1-3 {
    width: 85px;
}
th.head_col4.h5-1-4 {
    width: 100px;
}
th.head_col5.h5-1-5 {
    width: 121px;
}
th.head_col6.h5-1-6 {
    width: 127px;
}
th.head_col7.h5-1-7 {
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
th.head_col8.h5-1-8 {
    width: 79px;
}
#tbl_list>table>tbody>tr>th {
    text-align: center;
    border: solid 1px rgba(84, 88, 90, 0.25);
    vertical-align: middle;
    padding: 15px 5px;
}
#tbl_list>table>tbody>tr.row{
    height: auto;
}
#tbl_list>table>tbody>tr>td{
  padding: 15px 5px;
}
#tbl_list>table>tbody>tr>td.col1{
  padding: 15px;
}
#tbl_list>table>tbody>tr>td{
    border-right: 1px solid #d7d2cb;
    vertical-align: middle;
}
.table-striped_sv > tbody > tr:nth-of-type(even) {
  background-color: #fafaf9;
}
.mrg_bttm{
    margin-bottom: 32px;
}
#tbl_list.mrgl28.mrg_bttm {
  margin-bottom: 8px !important;
}
#pagination_wrapper{
  text-align: center;
  text-align: center;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.count{
    width: 100%;
    height: 16px;
    font-family: Meiryo;
    font-size: 16px;
    line-height: 1.44;
    color: #4b4949;
}
.pagination {
    margin-top: 30px;
}

ul.pagination>li,
.pagination>ul>li {
    list-style: none;
    display: inline;
    margin: 3px;
}
ul.pagination>li>a,
ul.pagination>li.disabled>span,
ul.pagination>li.active>span,
.pagination>ul>li>a>span{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: solid 1px rgba(84, 88, 90, 0.25);
    padding: 9px 14px 7px 16px;
}
ul.pagination>li.disabled:hover {
  color: #4b4949;
}
ul.pagination>li:hover,
.pagination>ul>li>a:hover>span{
    color: #e75400;
}
ul.pagination>li>a:hover{
    color: #e75400;
    border: solid 1px #e65400;
}
ul.pagination>li.active>span,
.pagination>ul>li.active>a>span{
    border: solid 1px #e65400;
    color:#e65400;
}
td.center.btn_5-1>a>div {
  width: 71px;
  height: 30px;
  border-radius: 15px;
  background-color: #7f8283;
  line-height: 30px;
  display: inline-block;
  color:#FFF;
}
td.center.btn_5-1>a:hover>div{
  background-color: #e75400;
}
.col-sv-5.count_text {
    width: 102px;
    height: 55px;

    background-color: #eeefef;
}
.col-sv-6.padding0.one span,.col-sv-6.padding0.two span{
    vertical-align: middle;
    line-height: 54px;
    font-family: Meiryo;
    font-size: 16px;
    font-weight: bold;
    color: #e65400;
    padding-left: 44px;
}
.col-sv-5.count_text.padding0 span {
    padding-left: 28px;
    line-height: 55px;
}
.title_gradio.float_left span {
    line-height: 88px;
    padding-left: 33px;
}
#tbl_list>table>tbody>tr.row.event,
#tbl_list>table>tbody>tr:nth-of-type(even){
    background: #fbfbfa;
}
/*========================
    style tooltip
=========================*/
.tooltip {
    position: relative;
    display: inline-block;
}
.btn_intbl{
  width: 80px;
  height: 31px;
  font-size: 14px;
  color: #0671b8;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0px;
  position: relative;
}

.btn_intbl .tooltiptext {
  visibility: hidden;
  width: 200px;
  max-width: 250px;
  font-size: 13px;
  background-color: #0671b8;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -70%;
  right: -70%;
  margin: 0px auto;
  transform: translateY(-61px);
  opacity: 0;
}
.btn_intbl .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #0671b8 transparent transparent transparent;
}
.btn_intbl.active:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-65px);
    color: #fff;
}
/*========================
* End style tooltip
==========================*/
/*========================
* End Style 5-1
=========================== */
/*========================
* Start style 6-2
========================= */
.margin0{
    margin-left: 0;
    margin-right: 0;
}
.row-sv.margin0.width965 {
    width: 965px;
    margin: 0 auto;
}
.row-sv.margin0.width965.mrgl6-2 {
    padding-top: 28px;
}
.row-sv.margin0.width965.mrg6-2 {
    margin-top: -5px;
    margin-left: 27px;
}
}
th.head_col4.h6-2-4 {
    width: 100px;
}
th.head_col5.h6-2-5 {
    width: 152px;
}
th.head_col6.h6-2-6 {
    width: 287px;
}
th.head_col7.h6-2-7 {
    width: 282px;
}
th.head_col8.h6-2-8 {
    width: 98px;
}
#tbl_list.tbl6-2>table>tbody>tr>th {
    height: 52px;
}
#tbl_list.tbl6-2>table>tbody>tr.row {
    height: 69px;
}
#tbl_list.tbl6-2>table>tbody>tr>td {
    padding-left: 17px;
    padding-top: 24px;
}
#tbl_list.mrgl28.mrg_bttm.tbl6-2 {
    margin-bottom: -1px !important;
}
#box_list.box_list5_1.tbl6-2{
    height: 1073px;
    margin-bottom: 32px;
}
td.center.btn_5-1.tbl6-2>a>div {
    width: 71px;
    height: 30px;
    border-radius: 15px;
    background-color: #7f8283;
    line-height: 30px;
    color: #FFF;
    display: block;
}
.hr_dot {
    width: 964px;
    border: 1px dotted #54585a;
    opacity: 0.25;
    margin: 0 auto;
}
/**===============================
* end style 6.2
=================================*/
/*--------------------------------
* End Home page Main
---------------------------------*/
/**------------------------------
* Footer
--------------------------------*/
footer#footer-silver{
    background-color: #ece9e6;
    max-width: 100%;
    padding: 10px 18px;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    max-height: 124px;
    height: 100%;
}
.con-footer {
    padding-left: 18px;
    padding-right: 18px;
    margin: 0px auto;
    max-width: 1070px;
}
.con-footer:before,
.con-footer:after{
    content: '';
    display: table;
    clear: both;
}
.user_menu {
    padding: 10px 5px;
}
.user_menu a{
    border-bottom: 4px solid #ece9e6;
    display: block;
    max-width: 220px;
}
.user_menu a:hover img{
    opacity: 0.7;
}
.user_menu img {
    display: block;
    width: 220px;
}
ul.menu-footer{
    width: 100%;
    text-align: right;
}
ul.menu-footer li{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
ul.menu-footer li.bot-rt{
    margin-right: 10px;
    border-right: 1px solid #555;
}
span.rt-text {
    padding-right: 15px;
}
ul.menu-footer li.icon-menu {
    margin-right: 0px;
}
ul.menu-footer li a{
    display:block;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.64;
    color: #4b4949;
}
ul.menu-footer li a:hover {
    text-decoration: underline !important;
}
.icon{
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}
.icon_mail:before{
    content: '';
    background: url(../images/ic-email-black.png) no-repeat 0px 0px;
    display: inline-block;
    width: 15px;
    height: 13px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.icon_info:before{
    content: '';
    background: url(../images/error_info.png) no-repeat 0px 0px;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.footer-copyright {
    text-align: right;
    padding: 2px 8px;
}

.footer-copyright p {
    font-family: Meiryo;
    font-size: 11px;
    line-height: 2.09;
    color: #4b4949;
}

.max-100 {
  max-width: 100%;
}
/*
* custom date
*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.col-search-right {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
.col-title-left {
    display: inline-block;
    vertical-align: middle;
}

.col-title-left h1 {
    margin: 0px auto;
}
.col-search-right .form-group{
  width: 100%;
  padding: 3px 0px;
}
input.form-control.form-search {
    max-width: 250px;
    width: 100%;
    border-radius: 1px;
}
.col-create-form {
    text-align: right;
    padding: 3px 0px;
}
.form-control{
  border-radius: 0px;
}
.input-append,
.input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
  position: relative;
}
input[type="text" i]:disabled {
    background-color: rgb(235, 235, 228);
}
.input-append .box-add-on{
    display: inline-block;
    width: auto;
    height: 34px;
    min-width: 16px;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #9c9c9c;
    position: absolute;
    top: 1px;
    right: 1px;
}
.input-append.date .add-on i{
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: #6f6f6f;
    font-size: 21px;
}
.bootstrap-datetimepicker-widget {
    z-index: 999999;
    padding: 15px 10px;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px;
}
.btn-save{
  width: 100%;
  max-width: 200px;
}
.collapse.in {
    height: auto;
}
.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
.bootstrap-datetimepicker-widget>ul {
    width: 100%;
    padding: 0px;
}
/*
*add new style and print
*/
.col-unspecified-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    text-align: left;
    color: #4b4949;
    padding-top: 10px;
    padding-bottom: 20px;
}
/* -------------------------------
*  Style inquiry confirmform
*---------------------------------*/
.main-confirm {
    padding-bottom: 79px;
}

.tabs-content_cf {
    margin-bottom: 8px;
    padding: 0 8px 0 8px;
}
.print-content {
  background-color: #FFFFFF;
}
.tabs-content_cf h1{
  text-align: center;
}
.col-sd-4 {
    float: left;
    width: 43%;
    max-width: 100%;
    padding: 10px;
}
.tabs-control-form {
    width: 100%;
}
.tb-responsive {
  display: block;
  width: 100%;
  margin-top: 0;
}
table.detailList_print {
    width: 100%;
    max-width: 100%;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-form {
    width: 100%;
    max-width: 100%;
}
.tb-responsive  table.detailList_print{
    margin: 0px auto !important;

}
.tb-responsive  table.detailList_print tbody{
    border-left: 1px solid #C2C2C2 !important;
    border-right: 1px solid #C2C2C2 !important;
    border-bottom: 1px solid #C2C2C2 !important;
    width: 102%;
}

.tb-responsive .lixil_title {
    background: #d4b693;
    padding: 1px 16px;
    font-size: 10px;
    color: #000;
    border-left: 1px solid #c2c2c2 !important;
    border-right: 1px solid #c2c2c2 !important;
    border-top: 1px solid #c2c2c2 !important;
    width: 100.1%;
}
.tb-responsive .lxl-20{
    margin-top: 1px;
}
.table-bordered,
table.detailList_print tbody{
    border-top:1px solid #C2C2C2 !important;
}
table.detailList_print>tbody>tr div#labelStyle {
  color: #333333;
  width: 100%;
}
table.detailList_print>tbody>tr>td{
    padding: 1px 16px;
    vertical-align: top;
    font-size: 10px !important;
    color: #333333;
    font-weight: 400;
    border-left: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    vertical-align: middle;
}
table.detailList_print>tbody>tr>th.labelCol{
  background-color: #E4E4E4 !important;
  width: 308px !important;
  max-width: 308px !important;
  font-size: 10px !important;
  font-weight: 600 !important;
  margin: 0px auto !important;
  border-color: #C2C2C2;
  padding: 1px 16px;
  border-bottom: 1px solid #C2C2C2;
  vertical-align: middle;
  text-align: right;
}

.able.detailList_print>tbody>tr>td p{
    white-space: pre-line !important;
}
.col-rs-title.border-bot {
    border-bottom: 1px solid #7f8283;
    padding-bottom: 18px;
}
.border-bot h2 {
  font-size: 26px;
  text-align: left;
  color: #4b4949;
  font-weight: 500;
  padding-top: 8px;
  margin-left: -15px;
  margin-right: -15px;
}
.border-bot .row-15{
  margin-left: -15px;
  margin-right: -15px;
}

.tabs-content_cf { background-color: #FFFFFF; }
.tb-responsive .lixil_title { background: none; }
table.detailList_print>tbody>tr>th.labelCol { background: none !important; }
.print-content ul.col-nav-bt li a {
  width: 100px;
}
/*------------------
* Report Lixil
-------------------*/
.content-report {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0px auto;
}
.report-title {
  width: 100%;
  text-align: center;
  position: relative;
}
.report-title h1{
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  vertical-align: middle;
}
.report-title-kakunin h1{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
}
.report-date {
  position: absolute;
  right: 0px;
  font-size: 13px;
  color: #000;
}
.report-date span {
    margin-left: 10px;
}
.report-note {
  margin: 5px 0px;
}
.report-id {
    font-size: 14px;
}
.report-id span {
    margin-left: 16px;
}
.report-dear {
  max-width: 500px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
}
.report-dear span.dear_set {
  width: 480px;
  display: inline-block;
  vertical-align: middle;
}
.report-name {
  max-width: 134px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 10px;
  width: 100%;
}
.report-name span.name_set {
  width: 115px;
  display: inline-block;
  vertical-align: middle;
}
.report-des {
    padding: 0 0;
}
.report-des p {
  white-space: pre-line;
  font-size: 13px;
  line-height: 35px;
}
.report-contact {
  width: 100%;
  padding-left:15px;
}
.report-lixil {
    font-size: 13px;
    padding-top: 5px;
}
.table-responsive {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #333;
}
.table-report-no {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}
.table-report-no td,.table-report-no th{
  padding: 2px 0px;
  font-weight: 500;
}
.table-report-no th.col-ret-title {
  max-width: 22%;
  width: 220px;
}
.table-report-no th.col-ret-title p{
  white-space: pre-line;
  line-height: 20px;
}
.table-report-no .ft-bold{
  font-weight: 600;
}
.table-report-no th.col-ret-title span{float: right;}
.tb-report {
  margin-bottom: 16px;
}
.table-report-border th,table-report-border td{font-weight: 500;}
.table-report-border thead th{
  text-align: center;
}
td.col-result-price {
    text-align: right;
}
table.table-report-border {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
}
table.table-report-border th,table.table-report-border td{
    border: 1px solid #333;
    padding: 2px;
}
table.table-report-border th{
  padding: 2px 10px;
}
.tb-descritoion {
    padding: 18px 0px;
}
.tb-total{
  margin-top:20px;
  margin-bottom: 20px;
}
ul.work-detail {
    border: 1px solid #000;
    padding: 10px 20px;
    margin-bottom: 20px;
}
ul.work-detail li p{
  white-space: pre-line;
  line-height: 20px;
}
/*--------------
* List list-kakuho
----------------*/
.list-kakuho{
    width: 100%;
    max-width: 100%;
    border: 1px solid rgba(84, 88, 90, 0.25);
}
.list-kakuho tr th, .list-kakuho tr td{
    padding: 20px 5px;
}
.list-kakuho tr th {
    text-align: center;
    padding: 15px 10px;
}
.list-kakuho>tbody>tr>td, .list-kakuho>tbody>tr>th,
.list-kakuho>tfoot>tr>td, .list-kakuho>tfoot>tr>th,
.list-kakuho>thead>tr>td, .list-kakuho>thead>tr>th {
    border: 1px solid rgba(84, 88, 90, 0.25);
    vertical-align: middle;
}
.list-kakuho>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.list-kakuho > tbody > tr:nth-of-type(even) {
  background-color: #fafaf9;
}
.list-kakuho > tfoot >tr{
  background:#fafaf9;
}
.list-kakuho>tfoot>tr>td.kakuho_result {
    background: #54585a;
}
.share-options {
    overflow: hidden;
    padding-top: 20px;
}
.btn-success {
    border-bottom: 3px solid #3e6d0e;
    padding: 10px;
    color: #fff !important;
}
.share-options {
    overflow: hidden;
    padding-top: 20px;
}
.btn-success {
    color: #fff;
    background-color: #e74f04;
    border-bottom: 4px solid #fb782f;
}
.btn-success:hover{
    background-color: #1da96d;
}
.share-options .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.col-not-found{
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-error {
  color: #4b4949;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.page-error {
  text-align: center;
}
ul.breadcrumb {
    width: 100%;
    padding: 10px 0px;
}
ul.breadcrumb li{
  display: inline-block;
}
ul.breadcrumb li a.bread-home {
    color: #e75004;
    font-weight: 700;
    padding-right: 10px;
}
/*--------------
* Clear
---------------*/
@media print {
 a[href]:after {
 content: "" !important;
 }

 abbr[title]:after {
 content: "" !important;
 }
 .col-nav-bt {display: none;}
 .col-print-btn {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
 }
}
.lbl-small {
  width: auto;
  height: auto;
  font-size: 12px;
  text-align: left;
  color: #4b4949;
}
.share-options {
    overflow: hidden;
    padding-top: 20px;
}
.btn-success {
    border-bottom: 3px solid #3e6d0e;
    padding: 10px;
    color: #fff !important;
}
.share-options {
    overflow: hidden;
    padding-top: 20px;
}
.btn-success {
    color: #fff;
    background-color: #e74f04;
    border-bottom: 4px solid #fb782f;
}
.btn-success:hover{
    background-color: #1da96d;
}
.share-options .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}
.col-not-found{
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-error {
  color: #4b4949;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.page-error {
  text-align: center;
}
ul.breadcrumb {
    width: 100%;
    padding: 10px 0px;
}
ul.breadcrumb li{
  display: inline-block;
}
ul.breadcrumb li a.bread-home {
    color: #e75004;
    font-weight: 700;
    padding-right: 10px;
}
.title-soku1{
  max-width:220px;
  width: 25%;
}
.title-soku2{
  max-width:300px;
  width: 30%;
}
.title-soku3{
  max-width: 120px;
  width: 10%;
}
.title-soku4{
  max-width: 120px;
  width: 10%;
}
.title-soku5{
  max-width:250px;
  width: 30%;
}

div.underline{
  text-decoration: underline;
}

@page {
    margin: 13.0mm 5.0mm;
}
/*お客さま都道府県*/
.chosen-single{
    line-height: 40px !important;
    height: 40px !important;
    border-radius: 0 !important;
    font-size: 14px;
}
.chosen-single >div ::before{
    font-family: 'FontAwesome';
    content: '\f0d7';
}
.chose-drop{
    font-size: 14px;
}
.chosen-drop.input-error{
    border-top:none !important;
}
td.center.btn_5-1>a:hover>div.copydata{
    background-color: #e75400;
    color: #ffffff;
}
td.center.btn_5-1>a>div.copydata{
    border: solid 1px #e65400;
    background-color: #ffffff;
    text-align: center;
    color: #e75400;
    cursor: pointer;
    margin-top: 5px;
}
.btn-info-err{
    margin-left: 20px;
    display: inline-block !important;
}